<div class="container-fluid">

    <body>
        <div style="background: url(../../assets/background.jpg)" class="jumbotron bg-cover text-white">
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">Find your dream home here</h1>
                <p class="font-italic mb-0">Luxurious Flats, Bunglows, Row Houses are available in affordable price</p>
                <p class="font-italic">Contact us
                    <a class="text-white">
                        <u>Support@housebook.com</u>
                    </a>
                </p>
                <!-- <div class="col-md-13">
                    <div class="d-flex form-inputs">
                        <input class="form-control" type="text" placeholder="Search for location...">
                        <i class="bx bx-search"></i>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- For addvertisment Purpose -->
        <div class="container py-5">
            <h2 class="h3 font-weight-bold">About Us</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">At ‘E-HouseBooking’, we remove the worry from owning venture
                        flats in India. Our administrations are planned so your job as proprietor is to take a
                        load off. We will deal with all this for you.</p>
                    <p class="font-italic text-muted">We are pros in the field of the booking and owning of houses.
                        Our administration business was established on the standards of diligent work, honesty,
                        obligation, responsibility, and straightforwardness.</p>
                </div>
                <div class="col-lg-8">
                    <p class="font-italic text-muted">At ‘E-HouseBooking’,we
                        trust that by working intimately with <strong class="font-weight-bold text-dark">our customers
                            to recognize their individual needs and
                            objectives </strong> we can convey better an incentive to their speculations with the
                        certainty and
                        security to rest guaranteed that their best advantages are by and large very much <strong
                            class="font-weight-bold text-dark">served by a
                            group of experienced experts.</strong>At ‘E-HouseBooking’ we take a gigantic measure of
                        pride in an
                        occupation well done and our customers’ objective accomplished. Call us! We anticipate working
                        with you.</p>
                </div>
            </div>
        </div>
    </body>
</div>

<div class="container-fluid mt-2 mb-5">
    <div>
        <div class="tab-pane fade show active">
            <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                    class="font-weight-bold text-uppercase">Luxurious Home</span>
            </div>
            






<div class="container">
    <div class="row">
        <ng-container *ngFor="let product of  products">
            <div class="card col-md-3">
                <img src="{{product.propertyImage}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyName}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyDescription}}</p>
                <p><strong>Price:</strong> ${{product.propertyPrice}}</p>
                <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                    width="20"> <span class="guarantee">{{product.propertylocation}}</span> </div>
                <button class="btn btn-primary"  routerLink="/login">Add to cart</button>
               
            </div>
        </ng-container>

    </div>
</div>




            
        </div>
        </div>  
            
