<!--<table>
    <tr>
        <td>Name of House</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.propertyName" type="text">
        </td>
    </tr>
    <tr>
        <td>House Description</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.propertyDescription" type="text">
        </td>
    </tr>
    <tr>
        <td>House Image Name</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.propertyImage" type="text">
        </td>
    </tr>

    <tr>
        <td>size of House</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.propertySize" type="text">
        </td>
    </tr>
    <tr>
        <td>House Location</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.propertylocation" type="text">
        </td>
    </tr>
    <tr>
        <td>House Price</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.propertyPrice" type="text">
        </td>
    </tr>
    <tr>
        <td>Discount</td>
        <td>
            <input [(ngModel)]="TblPropertyModel.discount" type="text">
        </td>
    </tr>
     <input type="button" (click)="getData()" value="getData"/>
    <input type="submit" (click)="AddProperty()">
    
</table>

<table border="2">
    <tr>
        <td>Name of House</td>
        <td>House Description</td>
        <td>House Image Name</td>
        <td>size of House</td>
        <td>House Location</td>
        <td>House Price</td>
        <td>Discount</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let item of TblPropertyModels">
        <td>
            {{item.propertyName}}
        </td>
        <td> {{item.propertyDescription}}
        </td>
        <td> {{item.propertyImage}}
        </td>
        <td> {{item.propertySize}}
        </td>
        <td> {{item.propertylocation}}
        </td>
        <td> {{item.propertyPrice}}
        </td>
        <td> {{item.discount}}
        </td>
        <td>
            <input type="button" value="Edit" (click)="EditCustomer(item)" />
            <input type="button" value="Delete" (click)="DeleteProperty(item)" />
        </td>
    </tr>
</table>-->



<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="card-body p-md-5 mx-md-4">
  
                 
                    <h2>List Your Property</h2>
  
                    <div class="form-outline mb-4">
                      <input   [(ngModel)]="TblPropertyModel.propertyName" type="text" id="form2Example11" class="form-control"
                        placeholder="Please Enter Your UserName" />
                      <label class="form-label" for="form2Example11">Property Name</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input  [(ngModel)]="TblPropertyModel.propertyDescription" type="text" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Property Description</label>
                    </div>
                    
                    <div class="form-outline mb-4">
                        <input  [(ngModel)]="TblPropertyModel.propertySize" type="text" id="form2Example22" class="form-control" />
                        <label class="form-label" for="form2Example22">Property Size</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input  [(ngModel)]="TblPropertyModel.propertylocation" type="text" id="form2Example22" class="form-control" />
                        <label class="form-label" for="form2Example22">Property Location</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input  [(ngModel)]="TblPropertyModel.discount" type="text" id="form2Example22" class="form-control" />
                        <label class="form-label" for="form2Example22">Discount</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input  [(ngModel)]="TblPropertyModel.propertyImage" type="text" id="form2Example22" class="form-control" />
                        <label class="form-label" for="form2Example22">Image</label>
                      </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit"  (click)="AddProperty()">SUBMIT
                        </button>
                    </div>
  
                     </div>
              
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>