<button  class="btn-danger"routerLink="/admin">Back</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">House Name</th>
        <th scope="col">House Discription</th>
        <th scope="col">Image</th>
        <th scope="col">Size</th>
        <th scope="col">Location</th>
        <th scope="col">House Prize</th>
        <th scope="col">Discount</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let item of  house;let i = index">
            <td>{{i+1}}</td>
            <td>
                {{item.propertyName}}
            </td>
           
            <td> {{item.propertyDescription}}
            </td>
            <td> {{item.propertyImage}}
            </td>
            <td> {{item.propertySize}}
            </td>
            <td> {{item.propertylocation}}
            </td>
            <td> {{item.propertyPrice}}
            </td>
            <td> {{item.discount}}
            </td>
            
            <td>
                <input type="button"  [hidden]="(item.isApproved==1)?true:false" value="Add"  (click)="AddProperty(item)" class="btn btn-success"  value="Approve"/>
                <label [hidden]="(item.isApproved==1)?false:true" >Approved</label>
            </td>
        </tr>
    
    </tbody>
  </table>


