<!--<table>

    <tr>
        <td>Name of House</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertyName" type="text">
        </td>
    </tr>
    <tr>
        <td>House Description</td>
        <td>
            <textarea  id="exampleFormControlTextarea4"  [(ngModel)]="TblVenderPropertyModel.propertyDescription"rows="3"></textarea>
        
        </td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <input type="file" (change)="onFileChanged($event)" #file placeholder="Choose file" [(ngModel)]="TblVenderPropertyModel.propertyImage"/>
        </td>
    </tr>

    <tr>
        <td>size of House</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertySize" type="text">
        </td>
    </tr>
    <tr>
        <td>House Location</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertylocation" type="text">
        </td>
    </tr>
    <tr>
        <td>House Price</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertyPrice" type="text">
        </td>
    </tr>
    <tr>
        <td>Discount</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.discount" type="text">
        </td>
    </tr>

    <input type="submit" (click)="registerHouse()" value="send Requests"/>

</table>

<table border="2">
    <tr>
        <td>Name of House</td>
        <td>House Discription</td>
        <td>Image</td>
        <td>Size</td>
        <td>Location</td>
        <td>Prize</td>
    </tr>
    <tr *ngFor="let item of TblVenderPropertyModels">
        <td>
            {{item.propertyName}}
        </td>
        <td>
            {{item.propertyDescription}}
        </td>
        <td>
            <img src="{{item.propertyImage}}" height="20%" width="10%"/>
        </td>
       
        <td> {{item.propertySize}}
        </td>
        <td> {{item.propertylocation}}
        </td>
        <td> {{item.propertyPrice}}
        </td>

    </tr>
</table>-->
<div style="text-align: center;">
<H1>List Your Property</H1>
</div>
<form action="" [formGroup]="TblVenderPropertyModel.formLoginGroup"class="form">
    <div class="mb-3">
      <label for="housename" class="form-label">House Name</label>
     <p style="color: red;" [hidden]="!(hasError('required','propertyNameControl'))">UserName is required</p>

      <input type="text" class="form-control" formControlName="propertyNameControl" id="housename" [(ngModel)]="TblVenderPropertyModel.propertyName"
       required>
      <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
      <label for="Discription" class="form-label">House Discription</label>
     <p style="color: red;" [hidden]="!(hasError('required','propertyDescriptionControl'))">House Description is required</p>

      <textarea type="text" class="form-control"formControlName="propertyDescriptionControl" id="Discription"  [(ngModel)]="TblVenderPropertyModel.propertyDescription"
       required></textarea>
    </div>

    <div class="mb-3">
        <label for="Image" class="form-label">Image</label>

        <input type="file" class="form-control" id="Image" (change)="onFileChanged($event)" #file placeholder="Choose file" [(ngModel)]="TblVenderPropertyModel.propertyImage"
        [ngModelOptions]="{standalone: true}" required/>
    </div>

    <div class="mb-3">
        <label for="size" class="form-label">Size</label>
       <p style="color: red;" [hidden]="!(hasError('required','propertySizeControl'))">Size is required</p>

        <input type="text" class="form-control" formControlName="propertySizeControl"id="size" [(ngModel)]="TblVenderPropertyModel.propertySize" 
        required> 
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">House Location</label>
       <p style="color: red;" [hidden]="!(hasError('required','propertylocationControl'))">House is required</p>

        <input type="text" class="form-control" id="location" formControlName="propertylocationControl" [(ngModel)]="TblVenderPropertyModel.propertylocation"
         required>
      </div>
    
      <div class="mb-3">
        <label for="prize" class="form-label">Prize</label>
      <p style="color: red;" [hidden]="!(hasError('required','propertyPriceControl'))">Prize is required</p>

        <input type="text" class="form-control" id="prize" formControlName="propertyPriceControl"  [(ngModel)]="TblVenderPropertyModel.propertyPrice"
        required>
      </div>

      <div class="mb-3">
        <label for="discount" class="form-label">Discount</label>
       <!---<p style="color: red;" [hidden]="!(hasError('required','discountControl'))">UserName is required</p>-->

        <input type="text" class="form-control" id="discount" formControlName="discountControl" [(ngModel)]="TblVenderPropertyModel.discount"
        required>
      </div>
      
    
    <button type="submit" (click)="registerHouse()" value="send Requests" class="btn btn-primary">Send Request</button>
  </form>


  
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">House Name</th>
        <th scope="col">House Discription</th>
        <th scope="col">Image</th>
        <th scope="col">Size</th>
        <th scope="col">Location</th>
        <th scope="col">House Prize</th>
        

      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let item of TblVenderPropertyModels ;let i = index">
            <td>{{i+1}}</td>
            <td>
                {{item.propertyName}}
            </td>
           
            <td> {{item.propertyDescription}}
            </td>
            <td>
                <img src="{{item.propertyImage}}" height="20%" width="10%"/>
             </td>
            <td> {{item.propertySize}}
            </td>
            <td> {{item.propertylocation}}
            </td>
            <td> {{item.propertyPrice}}
            </td>
           
           
        </tr>
    
    </tbody>
  </table>


