<table>

    <tr>
        <td>Name of House</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertyName" type="text">
        </td>
    </tr>
    <tr>
        <td>House Description</td>
        <td>
            <textarea  id="exampleFormControlTextarea4"  [(ngModel)]="TblVenderPropertyModel.propertyDescription"rows="3"></textarea>
        
        </td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <input type="file" (change)="onFileChanged($event)" #file placeholder="Choose file" [(ngModel)]="TblVenderPropertyModel.propertyImage"/>
        </td>
    </tr>

    <tr>
        <td>size of House</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertySize" type="text">
        </td>
    </tr>
    <tr>
        <td>House Location</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertylocation" type="text">
        </td>
    </tr>
    <tr>
        <td>House Price</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.propertyPrice" type="text">
        </td>
    </tr>
    <tr>
        <td>Discount</td>
        <td>
            <input [(ngModel)]="TblVenderPropertyModel.discount" type="text">
        </td>
    </tr>

    <input type="submit" (click)="registerHouse()" value="send Requests"/>

</table>

<table border="2">
    <tr>
        <td>Name of House</td>
        <td>House Discription</td>
        <td>Image</td>
        <td>Size</td>
        <td>Location</td>
        <td>Prize</td>
    </tr>
    <tr *ngFor="let item of TblVenderPropertyModels">
        <td>
            {{item.propertyName}}
        </td>
        <td>
            {{item.propertyDescription}}
        </td>
        <td>
            <img src="{{item.propertyImage}}" height="10%" width="10%"/>
        </td>
       
        <td> {{item.propertySize}}
        </td>
        <td> {{item.propertylocation}}
        </td>
        <td> {{item.propertyPrice}}
        </td>

    </tr>
</table>