





<div class="container">
    <div class="row">
        <ng-container *ngFor="let product of  products | filter:searchkey:'propertylocation'">
            <div class="card col-md-3">
                <img src="{{product.propertyImage}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyName}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyDescription}}</p>
                <p><strong>Price:</strong> ${{product.propertyPrice}}</p>
                <button class="btn btn-primary" routerLink="cart">Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>
