<!--<ng-container *ngFor="let item of property">
    <div class="container-fluid mt-2 mb-5">
        <div>
            <div class="tab-pane fade show active">
                <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                        class="font-weight-bold text-uppercase">Luxurious Home</span>
                </div>
                <div class="row g-3">
                    <div class="card col-md-3">
                        <div class="card"> <img src="../../assets/cards/card1.jpg" class="card-img-top">
                            <div class="card-body">
                                <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                        with elegant looks of white and cosy dark combination furniture</span> <span
                                        class="font-weight-bold">$550</span> </div>
                                <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                    electricity availablity</p>
                                <div class="d-flex align-items-center flex-row"> <img
                                        src="../../assets/icons/location.png" width="20"> <span
                                        class="guarantee">{{item.propertylocation}}</span> </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <div class="text-right buttons"> <button class="btn btn-dark">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</ng-container>-->


<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of property">
            <div class="card col-md-3">
                <div class="card"> <img src="../../assets/{{item.propertyImage}}" class="card-img-top">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span class="font-weight-bold">{{item.propertyDescription}}</span>
                            <span class="font-weight-bold">$550</span>
                        </div>
                        <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                            electricity availablity</p>
                        <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                width="20">
                            <span class="guarantee">{{item.propertylocation}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/order">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>